# Упражнения по Pandas

# Данные

Этот набор данных содержит информацию о бронировании номеров в отеле - когда было сделано бронирование, на сколько дней, количество взрослых, детей, младенцев, требуемые парковочные места и т.д.

Все персональные данные были удалены из этих данных.

Источник данных: эти данные получены из статьи "Hotel Booking Demand Datasets", написанной авторами Nuno Antonio, Ana Almeida и Luis Nunes для журнала Data in Brief, том 22, февраль 2019".


----------------------------

#### Замечание: имена, адреса email, номера телефонов и номера кредитных карт являются вымышленными. Данные о бронировании являются настоящими из статьи выше.

## <div style="text-align: center">Описание колонок</div>

<table><thead><tr class="rowsep-1"><th scope="col"><strong>Переменная</strong></th><th scope="col"><strong>Тип</strong></th><th scope="col"><strong>Описание</strong></th><th scope="col"><strong>Источник/Обработка данных</strong></th></tr></thead><tbody>

<tr><th scope="row"><em>ADR</em></th><td>Numeric</td><td>Средняя цена за сутки (см. <a name="bbib5" href="#bib5" class="workspace-trigger">[5]</a>)</td><td>BO, BL и TR / Вычисляется как сумма всех транзакций, делённая на количество суток (ночей)</td></tr>

<tr><th scope="row"><em>Adults</em></th><td>Integer</td><td>Количество взрослых</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>Agent</em></th><td>Categorical</td><td>Идентификатор туристического агентства, сделавшего бронирование<a name="btbl1fna" href="#tbl1fna" class="workspace-trigger"><sup>a</sup></a></td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>ArrivalDateDayOfMonth</em></th><td>Integer</td><td>Дата заезда - день месяца</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>ArrivalDateMonth</em></th><td>Categorical</td><td>Дата заезда - месяц, 12 категорий: “January” - “December”</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>ArrivalDateWeekNumber</em></th><td>Integer</td><td>Дата заезда - номер недели</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>ArrivalDateYear</em></th><td>Integer</td><td>Дата заезда - год</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>AssignedRoomType</em></th><td>Categorical</td><td>Тип номера, который был сдан по факту. Иногда может отличаться от забронированного типа номера из-за операционных причин (например, забронировано больше номеров, чем есть по факту) или по запросу Клиента. Для соблюдения анонимности, вместо смыслового названия применяются коды типов номеров</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>Babies</em></th><td>Integer</td><td>Количество младенцев</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>BookingChanges</em></th><td>Integer</td><td>Количество изменений/уточнений, внесённых в бронирование с момента его создания в системе PMS до момента заезда Клиента или отмены бронирования</td><td>BO and BL/Вычисляется как кочество раз, когда менялись какие-либо атрибуты бронирования, а именно: люди, дата заезда, количество суток, тип номера или тип питания</td></tr>     

<tr><th scope="row"><em>Children</em></th><td>Integer</td><td>Количество детей</td><td>BO and BL/Количество детей - как тех, за которых было заплачено, так и гостящих бесплатно</td></tr>     

<tr><th scope="row"><em>Company</em></th><td>Categorical</td><td>Идентификатор компании, сделавшей бронирование или ответственной за оплату номера. Для соблюдения анонимности, вместо названия компании применяются идентификаторы</td><td>BO и BL.</td></tr>     

<tr><th scope="row"><em>Country</em></th><td>Categorical</td><td>Страна происхождения. Различные значения представлены в формате ISO 3155–3:2013<a name="bbib6" href="#bib6" class="workspace-trigger">[6]</a></td><td>BO, BL и NT</td></tr>     

<tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr>     

<tr><th scope="row" rowspan="5"><em>CustomerType</em></th><td rowspan="5">Categorical</td><td>Тип бронирования, одна из четырёх категорий:</td><td rowspan="5">BO и BL</td></tr>     
<tr><td>Contract - по контракту;</td></tr>     
<tr><td>Group – бронирование в составе группы;</td></tr>     
<tr><td>Transient – когда бронирование не относится к контракту или группе, и не связано с другим transient-бронированием; в этой категории относятся бронирования, выполненные накануне или даже в последний момент, а также когда человек просто зашёл в отель с улицы и попросил номер</td></tr>     
<tr><td>Transient-party – когда бронирование относится к категории transient, но связано хотя бы одним другим transient-бронированием</td></tr>     

<tr><th scope="row"><em>DaysInWaitingList</em></th><td>Integer</td><td>Количество дней, в течении которых бронирование было в списке ожидания перед тем, как отправить подтверждение бронирования Клиенту</td><td>BO/Вычисляется как разница между датой подтверждения и датой создания бронирования в системе PMS</td></tr>     

<tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr>     

<tr><th scope="row" rowspan="7"><em>DepositType</em></th><td rowspan="7">Categorical</td><td>Вносил ли Клиент предоплату для гарантии бронирования. Может принимать три значения:</td>
<td rowspan="2">BO and TR/Вычисляется на основе платежей в таблице transaction (TR), выполненных до даты заезда или отмены бронирования.</td></tr>     
<tr><td rowspan="3">No Deposit – предоплаты не было;</td></tr>     
<tr><td>Если платежи не было найдены, то значение “No Deposit”.</td></tr>     
<tr><td rowspan="2">Если платёж равен или превышает сумму бронирования, то значение “Non Refund”.</td></tr>     <tr><td rowspan="2">Non Refund – предоплата была равна полной сумме бронирования;</td></tr>     
<tr><td rowspan="2">В остальных случаях - значение “Refundable”</td></tr>     <tr><td>Refundable – платёж был меньше суммы бронирования.</td></tr>     

<tr><th scope="row"><em>DistributionChannel</em></th><td>Categorical</td><td>Канал распространения бронирования. Значение “TA” означает “Travel Agents”, а “TO” - "Tour Operators”</td><td>BO, BL и DC</td></tr>     

<tr><th scope="row"><em>IsCanceled</em></th><td>Categorical</td><td>Было ли бронирование отменено (1) или нет (0)</td><td>BO</td></tr>     

<tr><th scope="row"><em>IsRepeatedGuest</em></th><td>Categorical</td><td>Был ли этот Клиент в отеле раньше (1) или нет (0)</td><td>BO, BL and C/ Сверяем профиль Клиента и Клиента в бронировании. Если соответствие нашлось, и если дата создания профиля Клиента меньше даты создания бронирования в системе PMS, то считаем, что это повторный Клиент</td></tr>     

<tr><th scope="row"><em>LeadTime</em></th><td>Integer</td><td>Количество дней между датой внесения бронирования в систему PMS и датой заезда</td><td>BO and BL/ Разница между датой внесения бронирования и датой заезда</td></tr>     

<tr><th scope="row"><em>MarketSegment</em></th><td>Categorical</td><td>Сегмент рынка. Значение “TA” означает “Travel Agents”, а “TO” - “Tour Operators”</td><td>BO, BL и MS</td></tr>     

<tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr>     

<tr><th scope="row" rowspan="5"><em>Meal</em></th><td rowspan="5">Categorical</td><td>Тип питания. Категории представлены стандартными для отелей пакетами питания:</td><td rowspan="5">BO, BL и ML</td></tr>     <tr><td>Undefined/SC – no meal package;</td></tr>     
<tr><td>BB – Bed &amp; Breakfast;</td></tr>     
<tr><td>HB – Half board (завтрак и ещё одно питание, обычно ужин);
</td></tr>     
<tr><td>FB – Full board (завтрак, обед и ужин)</td></tr>     

<tr><th scope="row"><em>PreviousBookingsNotCanceled</em></th><td>Integer</td><td>Количество предыдущих бронирований, которые не были отменены этим Клиентом перед текущим бронированием</td><td>BO and BL / Если профиль Клиента не был найден, то значение 0. Иначе, количество бронирований с тем же профилем, созданных перед текущим бронированием и не отменённых..</td></tr>     

<tr><th scope="row"><em>PreviousCancellations</em></th><td>Integer</td><td>Количество предыдущих бронирований, которые были отменены этим Клиентом перед текущим бронированием</td><td>BO and BL/ Если профиль Клиента не был найден, то значение 0. Иначе, количество бронирований с тем же профилем, созданных перед текущим бронированием и отменённых.</td></tr>     

<tr><th scope="row"><em>RequiredCardParkingSpaces</em></th><td>Integer</td><td>Количество парковочных мест, которые требуются Клиенту</td><td>BO и BL</td></tr>     

<tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr>     

<tr><th scope="row" rowspan="4"><em>ReservationStatus</em></th><td rowspan="4">Categorical</td><td>Последний статус резервирования. Одно из трёх значений:</td>
<td rowspan="4">BO</td></tr>     <tr><td>Canceled – бронирование было отменено Клиентом;</td></tr>     
<tr><td>Check-Out – Клиент заехал в отель, но уже выехал;</td></tr>     
<tr><td>No-Show – Клиент не заехал в отель, и не сообщил почему</td></tr>     

<tr><th scope="row"><em>ReservationStatusDate</em></th><td>Date</td><td>Дата, когда было записано последнее изменение статуса. Используется вместе со значением <em>ReservationStatus</em> для того, чтобы понять, было ли бронирование отменено, или же Клиент выписался из отела</td><td>BO</td></tr>     

<tr><th scope="row"><em>ReservedRoomType</em></th><td>Categorical</td><td>Тип забронированного номера. Для соблюдения анонимности, вместо смыслового названия применяются коды типов номеров</td><td>BO и BL</td></tr>     

<tr><th scope="row"><em>StaysInWeekendNights</em></th><td>Integer</td><td>Количество суток (ночей) на выходных - суббота или воскресенье, которые Клиент забронировал или по факту гостил</td><td>BO и BL/Количество ночей в выходные из общего количества ночей </td></tr>     

<tr><th scope="row"><em>StaysInWeekNights</em></th><td>Integer</td><td>Количество суток (ночей) в будни - с понедельника по пятницу, которые Клиент забронировал или по факту гостил</td><td>BO и BL/Количество ночей в будни из общего количества ночей</td></tr>     

<tr><th scope="row"><em>TotalOfSpecialRequests</em></th><td>Integer</td><td>Количество специальных запросов, которые отправил Клиент (например, две отдельные кровати или высокий этаж)</td><td>BO и BL/Количество всех специальных запросов</td></tr></tbody></table>

-----------

# ЗАДАНИЯ

**Выполните задания, указанные жирным шрифтом. Ожидаемый результат приведён ниже в ячейках.**

**Пожалуйста не запускайте ячейку непосредственно над ожидаемым результатом - это приведёт к потере этого результата.**  

**Постарайтесь решить каждое из заданий с помощью одной строки кода в pandas (не каждое задание можно решить одной строкой кода, но многие можно!).**  
**Посмотрите варианты решений в блокноте с решениями и в видео-лекции.**  
**Замечание: многие задачи можно решить разными способами!**

In [7]:
import pandas as pd

In [8]:
hotels = pd.read_csv("hotel_booking_data.csv")

In [9]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [10]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

---
**ЗАДАНИЕ: Сколько строк содержится в этом наборе данных?**

In [12]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ
print('row numbers: ', len(hotels))

row numbers:  119390

**ЗАДАНИЕ: Есть ли отсутствующие (пропущенные) данные? Если да, то в какой колонке их больше всего?**

In [86]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ
print(hotels.isnull().sum().max())

112593

**ЗАДАНИЕ: Удалите колонку "company" из набора данных.**

In [92]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ
hotels.drop(columns=['company'], inplace=True)

In [94]:
print(hotels.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  name                            119390 non-null  object
 32  email                           119390 non-null  object
 33  phone-number                    119390 non-null  object
 34  credit_card                     119390 non-null  object
dtypes: float64(3), int64(16), object(16)
memory usage: 31.9+ MB
None

**ЗАДАНИЕ: Какие 5 стран встречаются в наборе данных наиболее часто?**

In [98]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ
hotels = hotels.sort_values(by='country')
print(hotels['country'].head())

111228    ABW
92127     ABW
70627     AGO
104408    AGO
81437     AGO
Name: country, dtype: object

In [19]:
hotels['country'].value_counts()[:5]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

**ЗАДАНИЕ: Выведите имя человека, который заплатил наибольшую сумму за одни сутки (ADR - average daily rate)? Какое было значение этого ADR?**

In [110]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ
print(hotels.sort_values(by='adr').head())

              hotel  is_canceled  lead_time  arrival_date_year  \
14969  Resort Hotel            0        195               2017
30006  Resort Hotel            0         31               2016
38878  Resort Hotel            0         25               2017
79017    City Hotel            0          6               2017
79016    City Hotel            0          5               2017

      arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
14969              March                        10                          5
30006           November                        46                         12
38878               July                        30                         28
79017               June                        23                          5
79016              March                        11                         15

       stays_in_weekend_nights  stays_in_week_nights  adults  ...  \
14969                        4                     6       2  ...
30006                        0                     0       2  ...
38878                        2                     4       2  ...
79017                        1                     0       1  ...
79016                        0                     1       1  ...

         customer_type   adr required_car_parking_spaces  \
14969  Transient-Party -6.38                           0
30006        Transient  0.00                           0
38878        Transient  0.00                           0
79017        Transient  0.00                           0
79016        Transient  0.00                           0

      total_of_special_requests reservation_status reservation_status_date  \
14969                         0          Check-Out              2017-03-15
30006                         1          Check-Out              2016-11-12
38878                         0          Check-Out              2017-08-03
79017                         1          Check-Out              2017-06-06
79016                         1          Check-Out              2017-03-16

                   name                        email  phone-number  \
14969      Chase Santos     Chase_Santos@outlook.com  472-408-0661
30006   Elizabeth Vance              EVance@mail.com  555-704-6106
38878  Rebecca Castillo  Castillo_Rebecca74@mail.com  943-117-4160
79017     Heather Moore             HMoore24@att.com  529-510-5756
79016     Jeffrey Kelly       JeffreyKelly@gmail.com  887-071-0599

            credit_card
14969  ************9176
30006  ************5648
38878  ************9645
79017  ************2035
79016  ************2514

[5 rows x 35 columns]

**ЗАДАНИЕ: adr это средняя сумма за сутки для одного бронирования. Каково будет среднее значение adr для всех бронирований в этом наборе данных?**

In [23]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Каково среднее (mean) количество ночей, если сделать усреднение по всем бронированиям? Можете округлить до двух знаков после запятой.**

In [25]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Какова средняя общая сумма бронирования в этом наборе данных? Не *среднее за сутки*, а *среднее за бронирование*. Можете округлить до двух знаков после запятой.**

In [27]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Выведите имена и адреса email тех, кто сделал ровно 5 специальных запросов ("Special Requests")?**

In [29]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Какой процент бронирований классифицированы как бронирования "повторными гостями"? (Для этого не следует использовать имя, воспользуйтесь колонкой is_repeated_guest)**

In [31]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Какие 5 фамилий встречаются в этом наборе данных наиболее часто? Бонусное задание: Можете ли Вы сделать это с помощью одной строки кода в pandas? (Для упрощения задачи можете считать фамилией самое последнее слово в колонке, например для значения "Caroline Conley MD" можете в качестве фамилии вывести MD)**

In [33]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Выведите имена людей, которые бронировали номер для наибольшего количества детей и младенцев? (Отменённые бронирования тоже показывайте, то есть не важно, заехали они по факту в отель или нет - главное, что на момент бронирования номера было указано наибольшее количество детей+младенцев)**

In [35]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Какие 3 кода области (это первые три цифры телефона) встречаются в наборе данных наиболее часто?**

In [37]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ

**ЗАДАНИЕ: Посчитайте количество заселений в отель между 1м и 15м числами месяца (включая 1 и 15)? Бонусное задание: можете ли Вы сделать это с помощью одной строки кода в pandas?**

In [39]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ


**СЛОЖНОЕ БОНУСНОЕ ЗАДАНИЕ: Создайте таблицу, запишите в неё количество заселений в отель в тот или иной день недели. (Например, 5000 заселений в понедельник, 3000 заселений во вторник и т.д.)**

In [41]:
# НАПИШИТЕ ВАШ КОД В ЭТОЙ ЯЧЕЙКЕ